// Specific CSS for your home-page
.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.stacked-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.hero-text-container {
  width: 350px;
  height: 450px;
  margin: 100px 0 50px 100px;
  background-color: $light-gray;
}

.search-content {
  display: flex;
  flex-direction: column;
  padding: 40px 20px ;
    h1 {
      font-weight: bold;
  }
}

#ease {
  font-family: 'Homemade Apple', cursive;
}

