// Specific CSS for your home-page

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  position: fixed;
}

.hero-img-background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background: linear-gradient(120.83deg, #FFE54A 0.43%, #F80DD2 100%);
  position: fixed;
}

.stacked-container {
  // position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
}

.hero-text-container {
  width: 350px;
  height: 400px;
  margin: 100px 0 50px 100px;
  background-color: $light-gray;
}

.search-content {
  display: flex;
  flex-direction: column;
  padding: 40px 20px ;
    h1 {
      font-weight: bold;
  }
}

#ease {
  font-family: 'Homemade Apple', cursive;
}

@media screen and (max-width: 760px) {
  .hero-img-background {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .stacked-container {
    position: relative;
    z-index: 0;
    width: 100%;
  }
  .hero-text-container {
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 550px) {
  .hero-img-background {
    height: 250px;
  }
}
