<div class="stacked-container">
  <div class="hero-text-container">
      <div class="search-content">
    <h1>Find your <br> next cycle </h1>
        <p>Search, sell, or purchase your next cycle in Japan.</p>
        <p class="search-cycles-text">Search cycles</p>
        <%= simple_form_for :search, url: cycles_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input id="yellow-form" class="form-control string required" type="text" name="query" id="banner-typed-text" />
          <p class="search-cycles-text">Enter a color, category, or brand</p>
          <button name="button" type="submit" class="btn btn-flat yellow-search-btn">Search</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-img-background">
<%=image_tag("japan-cycle-homepage-img.jpg", :class=> "hero-img") %>
</div>
